/*
*  CineMatrix.css
*  (c) Olaf Kolkman
*  Needs cleanup
*/


:root {
    --bodyBackground: rgb(10, 71, 128);
    --baseColor: rgb(236, 225, 248);
    --bgcolorHighlight: #160868;
    --switchOnColor: rgb(8, 99, 39);
    --blockBackground: #bfcdda;
    --bgcolorHighlight2: #424d8c;
    --bgcolorHighlight3: #8a8595;
    --buttonColor: rgb(23, 16, 85);
    --buttonHoverColor: rgb(63, 51, 103);
    --buttonPressColor: rgb(231, 114, 19);
    --boxShadow: 1px 4px 5px #777;

}



#notFoundInfo {
    color: var(--baseColor);
}

.fieldform {
    display: grid;
    place-content: center;
}


.matrixpreviewline{
    margin-top: 2ex;
    background-color: black;
    color: red;
    font-size:x-large;
    display: grid;
    place-content: center;

}

.fieldformheader {
    font-weight: bolder;
    background-color: var(--bgcolorHighlight3);
}

.fieldformexplanation {
    max-width: 70ex;
    width: fit-content;
    font-style: italic;
    background-color: var(--bgcolorHighlight3);
}

.matrixform{
    background: var (--bgcolorHighlight2);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(right, var(--bgcolorHighlight3), var(--bgcolorHighlight2));
    background: -moz-linear-gradient(right, var(--bgcolorHighlight3), var(--bgcolorHighlight2));
    background: -o-linear-gradient(right, var(--bgcolorHighlight3), var(--bgcolorHighlight2));
    background: linear-gradient(to left, var(--bgcolorHighlight3), var(--bgcolorHighlight2));
}

.matrixentryformheader {
    font-weight: bolder;
    color: var(--baseColor)
}

.matrixentryexplanation {
    width: fit-content;
    max-width: 70ex;
    font-style: italic;
    color: var(--baseColor)
}

.matrixentryform {
    display: grid;
    place-content: center;
    margin-top: 3ex
}

input.fieldentry {
    height: 1.2em;
    width: 30ex;
    display: inline-block;
}

.fieldentryblock {

    background-color: var(--bgcolorHighlight3);
}

.matrixform .warning {
    color: cornsilk;
    background-color: azure;    
    font-size: x-large;
    color: rgb(183, 67, 67);
}

.valueentry label{
    color: var(--baseColor);
    min-width: 10ex;
    text-align: right;
    display:inline-block
}



.webpassentry {
    margin: 5px;
    padding: 20px;
    background-color: rgb(59, 57, 86);
    border: 2px solid rgb(141, 15, 17);
}

.webpassinput {
    color: cornsilk;
    display: inline-block;
}

.webpasslabel {
    display: inline-block;
}

.webpassfield {
    display: inline-block;
}

.webpasslabel label {
    width: 20em;
}

.matrixentry {

    background-color: var(--bgcolorHighlight2);
    border: 2px;
    margin: 10px;
    padding: 5px;

}

.matrixentry .textentry {
    display: block;
}

.matrixentry .inputblock {
    display: inline-block;
}

.matrixentry label {
    color: var(--baseColor);
    vertical-align: top;
}

.matrixentry select {
    vertical-align: middle;

}


button {
    border-radius: 8px;
    box-shadow: 2px 2px;
}
}



button.scriptbutton {
    margin-left: 10px;
    margin-bottom: 10px;
}

div.scriptbutton{
    display: inline;
    margin: 30px;
}



div .fieldform {
    width: auto;
}




form {
    padding: 5px;
    margin: 5px;
}

.firmware {
    border-top: 2px dotted grey;
    font-size: x-small;
    color: grey;
    margin-top: 20px;
}

textarea {
    font-family: 'Courier New', Courier, monospace;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #2d9fd9;
    color: rgb(42, 40, 40);
    padding-left: 10px;
    font-size: large;
    width: 90%;
    height: 2.3em;

}

textarea:focus {
    outline: none;
    font-style: bold;
    border: 1px solid #a0d18c;
    color: #3c1605;
    background-color: lightgrey;
}







body {


    background: var (--bgcolorHighlight);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(right, var(--bgcolorHighlight2), var(--bgcolorHighlight));
    background: -moz-linear-gradient(right, var(--bgcolorHighlight2), var(--bgcolorHighlight));
    background: -o-linear-gradient(right, var(--bgcolorHighlight2), var(--bgcolorHighlight));
    background: linear-gradient(to left, var(--bgcolorHighlight2), var(--bgcolorHighlight));
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    margin: 10px;

    color: (black);
}


@media only screen and (min-width: 600px) {
    #bodyBlock {
        width: 640px;
        ;
    }
}

@media only screen and (max-width: 600px) {
    #bodyBlock {
        width: 320px;
        ;
    }
}





#bodyBlock {
    margin: auto;

}

div.gauges {
    width: 100%;
    margin: auto;
}

A:link {
    color: rgb(95, 62, 1);
}

A:visited {
    color: rgb(112, 84, 16);
}

A:hover {
    color: #705208;
}

canvas {
    display: block;
    width: 300px;
    margin: auto;
}

h1 {
    color: var(--baseColor);
    background-color: black;
    font-size: x-large;
    padding: 10px;
    letter-spacing: .4em;
    margin-bottom: 1em;
    text-align: center;

    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0,
      "XELA" 0,
      "YELA" 0;
  }

}


#firmware {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: xx-small;
    color: var(--bgcolorHighlight2);
    margin-bottom: 1em;
    text-transform: lowercase;
    padding-top: 2ex;
    border-top: 1px solid;
    border-top-color: var(--bgcolorHighlight);
}



div.hardwareswitches {

    display: block;
    padding: 1em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}



div.switchlabel {
    text-align: center;
    margin-top: 3ex;
    margin-bottom: 1ex;
}



.Settings {
    border-top: 1px solid;
    margin-top: 5px;

    padding-top: 15px;
    padding-bottom: 15px;
}

.btn {
    color: var(--baseColor);
    width: 140px;
    font-size:11pt;
    text-align: center;
    border: 1px solid #000;
    margin: 4px;
    padding: 3px;
    border-radius: 12px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--bgcolorHighlight2);
    box-shadow: 1px 4px 5px #777;
}
#portaltext{
    width: calc(100% - 180px)
}
.btn:hover {
    background-color: var(--buttonHoverColor);
}

.btn:active {
    background-color: var(--buttonPressColor);
    box-shadow: 0px 0px 4px #777;
}



div#notFoundInfo {
    width: 80%;
    margin: auto;
}

div#notFoundURI {
    font-size: large;
}

span#notFoundURL {
    font-family: 'Courier New', Courier, monospace;
}

div.notFoundArgument {
    padding-left: 5ex;
}

span.notFoundarg {
    font-family: 'Courier New', Courier, monospace;
}

span.notFoundargName {
    display: inline-block;
    min-width: 12ex;
}

div#graph {
    background-color: lightgray;
}

#configform {
    margin-left: 3%;
    margin-right: 3%;
}

.formParameterValuePair {
    border-top: .5px dotted black;
    display: grid;
    grid-template-columns: minmax(180px, 0.6fr) 1fr;
    margin-top: 1ex;

}

.formValue input {

    width: 70px;
    color: black;

}

input {
    border-radius: 8px;
    box-shadow: 2px 2px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.submitbutton input {
    margin-left:5ex;
}

.PIDParameterValuePair {
    display: grid;
    grid-template-columns: minmax(22px, .1fr) 1fr;


}

.formParameterValuePair.PID {
    margin-top: 3ex;
}


.Management {

    /*display: grid;*/

    margin-left: 3%;

    grid-template-columns: minmax(150px, 0.2fr) 1fr;
}

.Management input {
    width: 100ox;

}

.Management div button {
    margin-top: 2ex;
    width: 50%;
    min-width: 160px;
    max-width: 200px
    display: inline;
}

#configAPI {
    border-top: 1px dotted var(--baseColor);
    border-bottom: 1px dotted var(--baseColor);
}


@media only screen and (max-width: 600px) {
    .configblock {
        width: 300px;
    }
}

@media only screen and (min-width: 600px) {
    .configblock {
        width: 300px;
    }
}

@media only screen and (max-width: 600px) {
    .configblock.fullwidth {
        width: 305px;


    }
}

@media only screen and (min-width: 600px) {
    .configblock.fullwidth {
        width: auto;
        width: 600px;
    }
}


.configblock {
    display: inline-block;
    vertical-align: top;
    border: 1px dotted black;
    margin-right: auto;
    margin-left: auto;
    vertical-align: top;
    background-color: var(--blockBackground);
    padding: 2px;
    box-shadow: var(--boxShadow);
}

.configurationMessage {
    text-align: center;
}

#resetbtn {
    color: var(--baseColor);
    background-color: rgba(255, 0, 0, 0.645);
}

#resetbtn:hover {
    background-color: var(--buttonHoverColor);
}
#exitbtn {
    background-color: rgb(152, 84, 0);
    color: var(--baseColor);
}
#exitmessage {
    font-size: x-large;
}

.footermaterial {
    margin: 5ex;
}

#StatsReporting {
    background-color: lightgray;
    color: black;
    height: 110px;
    overflow: scroll;
    font-family: 'Courier New', Courier, monospace;
}

#ConfigReporting {
    background-color: lightgray;
    color: black;
    height: 5ex;
    font-family: 'Courier New', Courier, monospace;
}

#EspressoMachinePNG img {
    width: 10%;
    margin-left: 3%;
    margin-top: -70px
}

.numberplaceholder {
    display: inline-block;
    position: relative;
    width: .3ex;

}

#number32 {
    letter-spacing: 0.1em;
    position: absolute;
    transform-origin: left;
    transform: rotate(-33deg);
    top: 0ex;
    left: -1.9ex;
    color: burlywood
}

/* Graph color */
.axis {
    color: black;
}

/* Elements used for configuration */
/*  From CODEPEN.IO https://codepen.io/shanker-kumar/pen/MGqwoN but now applied to SVG */


.waveStrength-4 #w4 path,
.waveStrength-3 #w4 path,
.waveStrength-3 #w3 path,
.waveStrength-2 #w4 path,
.waveStrength-2 #w3 path,
.waveStrength-2 #w2 path,
.waveStrength-1 #w4 path,
.waveStrength-1 #w3 path,
.waveStrength-1 #w2 path,
.waveStrength-1 #w1 path,
.waveStrength-0 #w4 path,
.waveStrength-0 #w3 path,
.waveStrength-0 #w2 path,
.waveStrength-0 #w1 path,
.waveStrength-0 #w0 circle {
    stroke: #b82b2b57 !important;
}

.wifiRaw {
    width: 20px;
}


.tableTable {
    display: table;
    width: 100%;
}

.tableRow {
    display: table-row;
}

.tableBody {
    display: table-row-group;
}

.tableField {
    display: table-cell;
}

/* Display as a table */
.networkSelection {
    width: auto;
    border: 1px solid #fafafa;

}


.tableField.wifiLabel {
    width: 3.5em;
}


.tableField.redCross {
    width: 20px;
}

#powerGauge {
    width: 90%;
}

/* --------------- Configuration page-------- */


.redCross {

    display: inline-block;
}

.redCross img {
    width: 15px;
}

div#wifiNetTable,

div#wifiSettings {
    border: 1px solid black;
    padding-left: 3px;
    padding-right: 3px;
}



#selectedNetworks input {
    padding: 3px;
    width: calc(100% - 12px);
}

#scantable {
    max-width: 350px;
}

/* Spinning Loading Ball */
#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #93340e;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
    display: none;
    justify-content: center;
}

#loading.display {
    visibility: visible;
    display: flex;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Graph color */
.axis {
    color: black;
}

.sixtyfour-convergence-matrixrss {
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0,
      "XELA" 0,
      "YELA" 0;
  }
  